# Archivos de sistema
.DS_Store
Thumbs.db

# Carpetas de IDEs
.vscode/
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
*.sqlite3

# Java
*.class
*.jar
*.war
*.ear
/out/
target/
build/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/

# Ignorar archivos del proyecto PERN
/PERN-stack/node_modules/
/PERN-stack/client/node_modules/
/PERN-stack/client/build/
/PERN-stack/.env
/PERN-stack/client/.env